body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    //font-size: 16rem;
    line-height: 1.7;
    color: $grey;
}





.text-box{
    position: absolute;
    top : 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
  